* {
  font-family: "Cuprum", "PtSans", sans-serif;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
