* {
  font-family: 'Cuprum', 'PtSans', sans-serif;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  // width: 941px;
  max-width: 79%;
  margin: 0 auto;
}