&__bottom {
  width: 100%;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  &-wrapp {
    width: 34%;
    display: flex;
    flex-direction: column;
    margin-left: 23px;
  }

  &-block {
    border: 1px solid red;
    min-height: 125px;
  }
}

/** slider styles **/ 
&__slider {
  border: 1px solid black;
  width: 66%;
}
/** slider styles **/
