.header {
  color: #ffffff;
  font-size: 17px;
  min-height: 379px;

 
  /** top navigation styles **/
  @import 'header/top-nav';
  /** top navigation styles **/

  /** middle navigation styles **/
  @import 'header/midlle-nav';
  /** middle navigation styles **/

  /** middle navigation styles **/
  @import 'header/bottom-nav';
  /** middle navigation styles **/
}
